.circle{
    & label div{
        border: 5px solid var(--shape-button);
        width: 2.5rem;
        height: 2.5rem;
        border-radius: 100%;
        cursor: pointer; 
    }
}

.colors-section label .brand-light{
    background-color: var(--brand-light);
}

.colors-section label .navy{
    background-color: var(--navy);
}

.colors-section label .purple{ 
    background-color: var(--purple);   
}


.colors-section label .fuschia{   
    background-color: var(--fuschia);   
}

.colors-section label .pink{   
    background-color: var(--pink);    
}

.colors-section label .danger{    
    background-color: var(--danger);    
}

.colors-section label .orange{   
    background-color: var(--orange);
}

.colors-section label .yellow{
    background-color: var(--yellow);
}

.colors-section label .lime{
    background-color: var(--lime);
}

.colors-section label .green{
    background-color: var(--green);
}

.colors-section label .cyan{
    background-color: var(--cyan);
}

.colors-section input:checked + label {
    outline: 3px solid var(--brand-light);
    border-radius: 100%;
    width: 2.5rem;
    height: 2.5rem;
}