@import url(inputs/type-meeting-radio.css);
@import url(inputs/circle-radio.css);
@import url(inputs/theme-radio.css);
@import url(inputs/contact.css);
@import url(inputs/textarea.css);
@import url(inputs/terms.css);
@import url(inputs/button.css);

form{ 

    legend{
        border: none;
        display: flex;
        gap: 0.75rem;
        padding-bottom: 1.5rem; 
    }

    fieldset{
        border: none;
        display: grid; 
        gap: 1rem;
    }

    label, span{
        display: flex;
        font: var(--body-sm);
        color: var(--text-body);
    }

    .about-event label{
        padding-bottom: 0.75rem;
    }

    input{
        appearance: none;
        padding: 0.8125rem 1rem;
        width: 100%;
        border-radius: 0.5rem;
        border: 2px solid transparent;

        outline: 1px solid var(--input-placeholder);
        
        background-color: var(--input-base);
        
        font: var(--body-md);    

        color: var(--input-placeholder);
    }

    input::placeholder {
        color: var(--input-placeholder);  
    }

    input[type="datetime-local"]::-webkit-calendar-picker-indicator {
        display: none;
    }
} 

.line{
    padding-top: 3rem;
    border-bottom: 1px solid var(--input-stroke);
    width: 100%;
}