@import url(global.css);

body{
    background-color: var(--shape-background);

    .app{
        display: grid; 
        grid-template-columns: 34% 64%;
        gap: 1.25rem;
        overflow: hidden;
        height: 100vh;
    }
}

aside{ 
    position: relative;
    display: flex;
    padding: 1.25rem;

    height: 100vh;

    .header{
        position: absolute;
        display: flex;
        flex-direction: column;
        align-items: start;

        padding: 2rem;
        
        gap: .50rem;
    }

    h1{ 
        color: var(--pink);
        font: var(--logo);
    }

    p{
        color: var(--text-heading);
        font: var(--body-md);
    }

    img{ 
        width: 2.875rem;
        height: 3rem;
    }

    .background-image{   
        width: 100%;
        height: 100%;
        border-radius: .75rem;
    }
}

main{
    margin: 1.25rem 1.25rem 1.25rem 0;
    background-color: var(--shape-body);
    border-radius: 0.75rem;
    padding: 5rem 8.125rem;
    gap: 3rem;
    overflow: auto;


    .main-container h2{
        font: var(--heading-md) ;
        color: var(--text-heading);
    }

     

    & .about-event{ 
        display: flex;
        padding-top: 2.5rem;
        flex-direction: column;
        gap: 2.5rem;

        p{
            color: var(--text-heading);
            font: var(--heading-sm);
        }
    }

    & .personalization{
        padding-top: 3rem;
       

        p{
            color: var(--text-heading);
            font: var(--heading-sm);
        }
    }

    
}